.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 60px;
    width: 95%;
    height: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: 500;
   
  }
  
  .card-header {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 24px;
    font-weight: bolder;
    color: #212529;
  }
  
  .card-title {
    background-color: rgba(244, 243, 243, 0.991);
    padding: 8px;
  }

  .card-body {
    padding: 10px;
    font-size: 16px;
    color: #140101;
  }
  
  .card-footer {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: right;
  }
  
  .card-footer a {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    text-decoration: none;
  }

  .card-deck {
    margin-bottom: 0;
  }
  
  /* .bc{
    background-color: #9fd9fb;
    width: 80px;
    height: 60px;
    text-align: center;
    color: #212529;
    font-size: 15px;
  } */
  .bc {
    background-color: rgb(221, 244, 252);
    color: black;
    width: 150px;
    font-weight: bold;
    margin-left: 50px;
    padding: 5px; /* Add padding for better visual appearance */
  }

  .bc span {
    font-size: 1.5em; /* Increase font size for the number */
  }
   .container-fluid{
    background-color: rgb(241, 210, 9);
   }